APP_ENV=test

DATABASE_URL=postgresql+psycopg://USER:PASSWORD@DIRECT_HOST/savequest_test?sslmode=require&channel_binding=require

DATABASE_MIGRATION_URL=postgresql+psycopg://USER:PASSWORD@DIRECT_HOST/savequest_test?sslmode=require&channel_binding=require